body{
    background: #AAAAAA;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    min-width: 10vw;
    max-width: fit-content;
    border: solid 2px cadetblue;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.55s;
}

.active, .accordion:hover, .panel:hover {
    background-color: #9092c0;
}

.panel {
    padding: 18px;
    display: none;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 20vw;
    border: solid 2px cadetblue;
    text-align: left;
    font-size: 18px;
    transition: 0.55s;
}
#menu{


}
#icons{
    align-content: left;
}